@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ---------- Root Variables ---------- */
:root {
  --white: #dddddd;
  --black: #110b0b;
  --grey: #292020;
  --light-grey: #3a3030;
  --brand-red: #bf171c;
}

/* ---------- HTML, body and rest styling ---------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  background-color: var(--black);
  color: var(--white);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* ---------- Typography ---------- */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--white);
}

h2 {
  font-weight: 500;
  letter-spacing: 0.1px;
}

h3 {
  font-weight: 500;
  letter-spacing: 0.1px;
}

a {
  color: var(--green);
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  color: var(--dark-green);
}

/* ---------- Form, input and button Styling ---------- */

textarea,
input,
button,
select {
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  background-color: var(--light-grey);
  border: 2px solid var(--light-grey);
  line-height: 1.5;
  margin: 0;
}
button {
  color: var(--white);
  font-weight: 500;
  cursor: pointer;
  padding: 1em 2em;
  background-color: var(--brand-red);
  border: 2px solid var(--brand-red);
  transition: 0.5s;
  width: 100%;
}

button:hover {
  background-color: var(--grey);
  color: var(--brand-red);
}

textarea:hover,
input:hover {
  border: 2px solid var(--white);
}

button:active {
  transform: translateY(1px);
}

form[action$="destroy"] button,
.btn-cancel {
  background-color: var(--grey);
  color: var(--brand-red);
}

form[action$="destroy"] button:hover,
.btn-cancel:hover {
  background-color: var(--brand-red);
  color: var(--white);
}

form input {
  width: 100%;
  color: var(--white);
}

form img {
  max-width: 100%;
  border-radius: 8px;
  justify-self: center;
}

.btns {
  display: flex;
  gap: 1em;
}

/* ---------- Form Styling ---------- */

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  align-items: center;
  padding: 1.5em;
  background-color: var(--grey);
  transition: 0.5s;
  animation: fadeIn 0.5s;
  border-radius: 8px;
  margin: auto;
}

#sign-in-form,
#sign-up-form {
  width: 35rem;
}

/* ---------- Navigation Styling ---------- */
nav {
  background-color: var(--grey);
  display: grid;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  padding: 1em 2em;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

/* Style the links inside the navigation bar */
nav a {
  display: inline-block;
  color: var(--white);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 2px solid var(--white);
  font-weight: 500;
  font-size: 1.2em;
  border-radius: 8px;
  transition: 0.5s;
}

/* Change the color of links on hover */
nav a:hover {
  background-color: var(--brand-red);
  color: var(--white);
  border: 2px solid var(--brand-red);
}

/* Add a color to the active/current link */
nav a.active {
  background-color: var(--brand-red);
  color: var(--white);
  border: 2px solid var(--brand-red);
}

/* ---------- Page Styling ---------- */
.page {
  animation: fadeIn 0.5s;
  padding: 140px 2em 2em;
}

/* ---------- Container Styling ---------- */
.container {
  max-width: 650px;
  margin: auto;
}

/* ---------- Animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* ---------- search bar styling ---------- */
.search-bar {
  padding: 1em;
  background-color: var(--grey);
  border-radius: 8px;
  margin: 0 0 1em;
}

.search-bar input {
  margin: 1em 0 0;
  width: 100%;
  color: var(--white);
}

/* ---------- grid container styling ---------- */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

@media (min-width: 700px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.grid > .user-card {
  cursor: pointer;
}

/* ---------- Filter Grid styling ---------- */

.grid-filter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding: 1em;
  background-color: var(--grey);
  border-radius: 8px;
  margin: 0 0 1em;
  align-items: center;
}

.grid-filter select {
  width: 100%;
  padding: 1.1rem;
  cursor: pointer;
  color: var(--white);
}

.grid-filter input,
.grid-filter select {
  margin: 1em 0 0;
}

.grid-filter select:hover {
  margin: 1em 0 0;
  box-shadow: 1px 1px 10px rgba(125, 103, 103, 0.9);
}

/* ---------- User Card styling ---------- */

.game-card {
  padding: 1.5em;
  background-color: var(--grey);
  transition: 0.1s;
  animation: fadeIn 0.5s;
  cursor: pointer;
  border-radius: 10px;
}

.game-card:hover {
  box-shadow: 1px 1px 20px rgba(125, 103, 103, 0.9);
}

.game-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.game_card-title-container {
  display: flex;
  align-items: baseline;
  margin-bottom: 2rem;
  justify-content: space-between;
  margin-inline: auto;
}

.game-card h2 {
  margin: 0.5em 0 0;
}

.game-card p {
  font-size: 24px;
  margin: 0;
}

.location {
  background-color: var(--brand-red);
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 15px;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 1rem 1rem;
  margin: 0 auto 2rem;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 30px;
}

.category img {
  height: 16px;
  width: auto;
  max-width: 100%;
}

.difficulty {
  background-color: #3b3113;
}
.theme {
  background-color: #382143;
}
.players {
  background-color: #0c2e30;
}
.audience {
  background-color: #1d223e;
}
.playtime {
  background-color: #432612;
}
.mechanics {
  background-color: #43212e;
}

.category p {
  font-size: 16px;
}

/* ---------- User Page styling ---------- */

#user-page .user-card > img {
  height: auto;
}

#user-page .btns {
  padding: 1em 0;
}

/* ---------- Login Form Styling ---------- */
#sign-in-page,
#sign-up-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.error-message {
  color: var(--brand-red);
  margin-top: 10px;
  grid-column: 2;
}
